:host .mat-form-field{
    width: 100%;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns items at the top */
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    word-wrap: break-word; /* Ensures text wraps */
  }
  
  .example-box .box {
    display: flex;
    gap: 8px;
  }
  
  .example-box > div {
    flex: 1; /* Takes full available width */
    white-space: normal; /* Allows multi-line text */
    overflow: visible; /* Ensures the entire content is visible */
    word-break: break-word; /* Breaks long words if necessary */
  }
  
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .head-title{
    margin:0;
    padding:10px;
    background-color:rgb(228,222,222);
    border-radius: 4px;
    color: #777272;
    font-size: 1.5rem;
    font-weight: 600;
  }
  span{
    font-weight: normal;
  }
  .mat-form-field {
    height:120px; /* Increase the height */
  }
  .custom-textbox {
    height: 170px; /* Adjust the height */
  }
  .mat-input-element {
    padding: 12px 0; /* Add padding for more vertical space */
    font-size: 16px;
  }
  